In [2]:
!pip install openai requests tiktoken numpy

Requirement already satisfied: openai in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.48.0)
Requirement already satisfied: requests in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.31.0)
Requirement already satisfied: tiktoken in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.26.0)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openai) (4.2.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openai) (0.26.0)
Requirement already satisfied: jiter<1,>=0.4.0 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openai) (0.5.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openai) (1.10.13)
Requirement already satisfied: sniffio in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openai) (1.3.0)
Requirement already satisfied: tqdm>4 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openai) (4.64.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openai) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests) (2022.9.24)
Requirement already satisfied: regex>=2022.1.18 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from tiktoken) (2023.10.3)
Requirement already satisfied: exceptiongroup>=1.0.2 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from anyio<5,>=3.5.0->openai) (1.2.0)
Requirement already satisfied: httpcore==1.* in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from httpx<1,>=0.23.0->openai) (1.0.2)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Requirement already satisfied: colorama in c:\users\dhmore\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from tqdm>4->openai) (0.4.6)

[notice] A new release of pip is available: 23.3.2 -> 24.2
[notice] To update, run: C:\Users\dhmore\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv('sample.env', override=True)

True

In [7]:
# Run preliminary checks

import json

# Load the training set
with open('train-dataset.jsonl', 'r', encoding='utf-8') as f:
    training_dataset = [json.loads(line) for line in f]

# Training dataset stats
print("Number of examples in training set:", len(training_dataset))
print("First example in training set:")
for message in training_dataset[0]["messages"]:
    print(message)

# Load the validation set
with open('validation-dataset.jsonl', 'r', encoding='utf-8') as f:
    validation_dataset = [json.loads(line) for line in f]

# Validation dataset stats
print("\nNumber of examples in validation set:", len(validation_dataset))
print("First example in validation set:")
for message in validation_dataset[0]["messages"]:
    print(message)

Number of examples in training set: 1500
First example in training set:
{'role': 'system', 'content': '\nYou are an assistant that is an expert in generating sqlite SQL queries.\nHaving the access to database content, generate a correct sqlite SQL query for the given question.\n### Database content ###\n        \nCREATE TABLE trip (\n\tid INTEGER, \n\tduration INTEGER, \n\tstart_date TEXT, \n\tstart_station_name TEXT, \n\tstart_station_id INTEGER, \n\tend_date TEXT, \n\tend_station_name TEXT, \n\tend_station_id INTEGER, \n\tbike_id INTEGER, \n\tsubscription_type TEXT, \n\tzip_code INTEGER, \n\tPRIMARY KEY (id)\n)\n/*\nColumns in trip and 3 examples in each column for high cardinality columns :\nid : 900645, 900752, 900524\nduration : 1131, 2146, 1155\nstart_date : 8/21/2015 17:39, 8/21/2015 17:03, 8/21/2015 17:16\nstart_station_name : Howard at 2nd, 2nd at Folsom, Market at 10th\nstart_station_id : 56, 65, 49\nend_date : 8/21/2015 17:19, 8/21/2015 18:08, 8/21/2015 17:32\nend_station_name : Howard at 2nd, 2nd at Folsom, Market at 10th\nend_station_id : 56, 65, 49\nbike_id : 586, 56, 65\nzip_code : 94070, 94530, 94040-1724\n*/\n/*\nColumns in trip and all categories for low cardinality columns :\nsubscription_type : Customer, Subscriber\n*/\n \nCREATE TABLE "Problems" (\n\tproblem_id INTEGER, \n\tproduct_id INTEGER NOT NULL, \n\tclosure_authorised_by_staff_id INTEGER NOT NULL, \n\treported_by_staff_id INTEGER NOT NULL, \n\tdate_problem_reported DATETIME NOT NULL, \n\tdate_problem_closed DATETIME, \n\tproblem_description VARCHAR(255), \n\tother_problem_details VARCHAR(255), \n\tPRIMARY KEY (problem_id), \n\tFOREIGN KEY(reported_by_staff_id) REFERENCES "Staff" (staff_id), \n\tFOREIGN KEY(product_id) REFERENCES "Product" (product_id), \n\tFOREIGN KEY(closure_authorised_by_staff_id) REFERENCES "Staff" (staff_id)\n)\n/*\nColumns in Problems and 3 examples in each column for high cardinality columns :\nproblem_id : 1, 13, 11\nclosure_authorised_by_staff_id : 1, 13, 2\ndate_problem_reported : 1995-05-14 08:32:56, 1988-11-07 16:09:31, 1986-11-13 07:30:55\ndate_problem_closed : 1974-09-20 13:42:19, 1997-10-18 20:09:57, 2004-06-20 01:08:25\nproblem_description : d, i, s\n*/\n/*\nColumns in Problems and all categories for low cardinality columns :\nproduct_id : 1, 13, 2, 5, 7, 8, 4, 6, 15\nreported_by_staff_id : 1, 13, 11, 2, 5, 7, 4, 14, 10\nother_problem_details : f, m, i, s, k, l, p, v, c\n*/\n \nCREATE TABLE management (\n\t"department_ID" INTEGER, \n\t"head_ID" INTEGER, \n\ttemporary_acting TEXT, \n\tPRIMARY KEY ("department_ID", "head_ID"), \n\tFOREIGN KEY("head_ID") REFERENCES head ("head_ID"), \n\tFOREIGN KEY("department_ID") REFERENCES department ("Department_ID")\n)\n/*\nColumns in management and all categories for low cardinality columns :\ndepartment_ID : 7, 15, 2, 11\nhead_ID : 5, 4, 6, 3, 10\ntemporary_acting : Yes, No\n*/\n \nCREATE TABLE category (\n\tcategory_id INTEGER NOT NULL, \n\tname VARCHAR(25) NOT NULL, \n\tlast_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL, \n\tPRIMARY KEY (category_id)\n)\n/*\nColumns in category and 3 examples in each column for high cardinality columns :\ncategory_id : 1, 16, 13\nname : Family, Sci-Fi, Action\n*/\n/*\nColumns in category and all categories for low cardinality columns :\nlast_update : 2006-02-15 04:46:27\n*/\n \nCREATE TABLE ship (\n\t"Ship_ID" INTEGER, \n\t"Name" TEXT, \n\t"Type" TEXT, \n\t"Nationality" TEXT, \n\t"Tonnage" INTEGER, \n\tPRIMARY KEY ("Ship_ID")\n)\n/*\nColumns in ship and all categories for low cardinality columns :\nShip_ID : 1, 2, 5, 7, 8, 4, 6, 3\nName : Clan McTavish, Farringford, Appam, Author, Dromonby, Corbridge, Trader, Ariadne\nType : Battle ship, Cargo ship\nNationality : United States, United Kingdom\nTonnage : 3035, 3146, 7781, 3496, 3687, 5816, 3627, 3608\n*/\n \nCREATE TABLE member_attendance (\n\t"Member_ID" INTEGER, \n\t"Performance_ID" INTEGER, \n\t"Num_of_Pieces" INTEGER, \n\tPRIMARY KEY ("Member_ID", "Performance_ID"), \n\tFOREIGN KEY("Performance_ID") REFERENCES performance ("Performance_ID"), \n\tFOREIGN KEY("Member_ID") REFERENCES member ("Member_ID")\n)\n/*\nColumns in member_attendance and all categories for low cardinality columns :\nMember_ID : 1, 11, 2, 5, 7, 4, 3\nPerformance_ID : 1, 2, 4, 6, 3\nNum_of_Pieces : 1, 2, 4, 3\n*/\n \nCREATE TABLE department (\n\t"Department_ID" INTEGER, \n\t"Name" TEXT, \n\t"Creation" TEXT, \n\t"Ranking" INTEGER, \n\t"Budget_in_Billions" REAL, \n\t"Num_Employees" REAL, \n\tPRIMARY KEY ("Department_ID")\n)\n/*\nColumns in department and 3 examples in each column for high cardinality columns :\nDepartment_ID : 1, 13, 11\nName : Energy, Interior, Health and Human Services\nCreation : 1913, 1979, 1989\nRanking : 1, 13, 11\nBudget_in_Billions : 10.7, 77.6, 59.7\nNum_Employees : 112557.0, 3000000.0, 235000.0\n*/\n\n \nCREATE TABLE chip_model (\n\t"Model_name" TEXT, \n\t"Launch_year" REAL, \n\t"RAM_MiB" REAL, \n\t"ROM_MiB" REAL, \n\t"Slots" TEXT, \n\t"WiFi" TEXT, \n\t"Bluetooth" TEXT, \n\tPRIMARY KEY ("Model_name")\n)\n/*\nColumns in chip_model and 3 examples in each column for high cardinality columns :\nModel_name : X30 mid-range, X50 Advanced, X51 mid-range\n*/\n/*\nColumns in chip_model and all categories for low cardinality columns :\nLaunch_year : 2002.0, 2005.0, 2004.0, 2003.0\nRAM_MiB : 32.0, 64.0\nROM_MiB : 48.0, 256.0, 128.0, 32.0, 64.0\nSlots : 1CFII,1SD, 1SD\nWiFi : 802.11b, No\nBluetooth : 1.2, Yes, No, 1.1\n*/\n \nCREATE TABLE head (\n\t"head_ID" INTEGER, \n\tname TEXT, \n\tborn_state TEXT, \n\tage REAL, \n\tPRIMARY KEY ("head_ID")\n)\n/*\nColumns in head and all categories for low cardinality columns :\nhead_ID : 1, 2, 5, 7, 8, 4, 6, 3, 10, 9\nname : Jeff Maggert, Pádraig Harrington, Billy Mayfair, K. J. Choi, Dudley Hart, Sergio García, Stewart Cink, Tiger Woods, Nick Faldo, Franklin Langham\nborn_state : Delaware, Connecticut, Alabama, California, Florida\nage : 69.0, 67.0, 68.0, 53.0, 56.0, 52.0, 50.0, 43.0\n*/\n \nCREATE TABLE mountain (\n\t"Mountain_ID" INTEGER, \n\t"Name" TEXT, \n\t"Height" REAL, \n\t"Prominence" REAL, \n\t"Range" TEXT, \n\t"Country" TEXT, \n\tPRIMARY KEY ("Mountain_ID")\n)\n/*\nColumns in mountain and all categories for low cardinality columns :\nMountain_ID : 1, 2, 5, 7, 4, 6, 3\nName : Ngaliema / Mt Stanley (Margherita Pk), Mount Kenya (Lenana), Kibo (Uhuru Pk), Ngaliema / Mt Stanley (Savoia Pk), Mount Kenya (Batian), Duwoni / Mt Speke (Vittorio Emanuele Pk), Mawenzi (Hans Meyer Pk)\nHeight : 5109.0, 5199.0, 5895.0, 4890.0, 4985.0, 4977.0, 5148.0\nProminence : 720.0, 850.0, 3951.0, 3825.0, 130.0, 5885.0, 110.0\nRange : Kilimanjaro, Mount Kenya, Rwenzori\nCountry : DR Congo Uganda, Uganda, Tanzania, Kenya\n*/\n \nCREATE TABLE "Restaurant_Type" (\n\t"ResTypeID" INTEGER, \n\t"ResTypeName" VARCHAR(40), \n\t"ResTypeDescription" VARCHAR(100), \n\tPRIMARY KEY ("ResTypeID")\n)\n/*\nColumns in Restaurant_Type and all categories for low cardinality columns :\nResTypeID : 1, 2\nResTypeName : Sandwich, Stir-fry\nResTypeDescription : Classic Chinese cooking., Simplest there is.\n*/\n \nCREATE TABLE farm_competition (\n\t"Competition_ID" INTEGER, \n\t"Year" INTEGER, \n\t"Theme" TEXT, \n\t"Host_city_ID" INTEGER, \n\t"Hosts" TEXT, \n\tPRIMARY KEY ("Competition_ID"), \n\tFOREIGN KEY("Host_city_ID") REFERENCES city ("City_ID")\n)\n/*\nColumns in farm_competition and all categories for low cardinality columns :\nCompetition_ID : 1, 2, 5, 4, 6, 3\nYear : 2004, 2013, 2005, 2006, 2003, 2002\nTheme : MTV Cube, Valentine\'s Day, Codehunters, Carnival M is back!, Aliens, MTV Asia Aid\nHost_city_ID : 1, 2, 5, 4, 3\nHosts : Mandy Moore and Ronan Keating, Alicia Keys, Shaggy and Coco Lee, Leehom Wang and Kelly Rowland, Miley Cyrus Jared Leto and Karen Mok, Vanness Wu and Michelle Branch\n*/\n \nCREATE TABLE "Country" (\n\tid INTEGER, \n\tname TEXT, \n\tPRIMARY KEY (id)\n)\n/*\nColumns in Country and 3 examples in each column for high cardinality columns :\nid : 1, 19694, 7809\nname : Scotland, Italy, Spain\n*/\n\n \nCREATE TABLE artist (\n\tartist_name TEXT(50) NOT NULL, \n\tcountry TEXT(20), \n\tgender TEXT(20), \n\tpreferred_genre TEXT(50), \n\tCONSTRAINT a_name PRIMARY KEY (artist_name), \n\tFOREIGN KEY(preferred_genre) REFERENCES genre (g_name) ON DELETE CASCADE\n)\n/*\nColumns in artist and all categories for low cardinality columns :\nartist_name : Prity, Michel, Topu, Shrikanta, Enrique, Farida\ncountry : India, UK, USA, Bangladesh\ngender : Male, Female\npreferred_genre : tagore, folk, modern, nazrul, blues, pop\n*/\n \nCREATE TABLE "Organizations" (\n\torganization_id INTEGER NOT NULL, \n\tparent_organization_id INTEGER, \n\torganization_details VARCHAR(255), \n\tPRIMARY KEY (organization_id)\n)\n/*\nColumns in Organizations and all categories for low cardinality columns :\norganization_id : 7, 8, 10\nparent_organization_id : 7, 8\norganization_details : Denesik and Sons Party, Reinger, Hudson and Nolan Group, Robel-Schulist Group\n*/\n \nCREATE TABLE school (\n\t"School_ID" INTEGER, \n\t"School" TEXT, \n\t"Location" TEXT, \n\t"Enrollment" REAL, \n\t"Founded" REAL, \n\t"Denomination" TEXT, \n\t"Boys_or_Girls" TEXT, \n\t"Day_or_Boarding" TEXT, \n\t"Year_Entered_Competition" REAL, \n\t"School_Colors" TEXT, \n\tPRIMARY KEY ("School_ID")\n)\n/*\nColumns in school and all categories for low cardinality columns :\nSchool_ID : 1, 2, 5, 4, 6, 3\nSchool : St Aloysius\' College, Cranbrook School, Waverley College, Knox Grammar School, Barker College, Trinity Grammar School\nLocation : Hornsby, Summer Hill, Waverley, Bellevue Hill, Milsons Point, Wahroonga\nEnrollment : 1000.0, 1850.0, 2200.0, 1200.0, 2300.0, 1430.0\nFounded : 1918.0, 1924.0, 1913.0, 1879.0, 1903.0, 1890.0\nDenomination : Catholic, Uniting Church, Anglican\nBoys_or_Girls : Boys only to Yr 9 Co-ed Year 10 to 12, Boys\nDay_or_Boarding : Day, Day & Boarding\nYear_Entered_Competition : 1944.0, 1929.0\nSchool_Colors : Royal Blue and Gold, Black & Blue, Red, White & Blue, Red & Blue, Green and White\n*/\n \nCREATE TABLE flight (\n\tid INTEGER, \n\t"Vehicle_Flight_number" TEXT, \n\t"Date" TEXT, \n\t"Pilot" TEXT, \n\t"Velocity" REAL, \n\t"Altitude" REAL, \n\tairport_id INTEGER, \n\tcompany_id INTEGER, \n\tPRIMARY KEY (id), \n\tFOREIGN KEY(company_id) REFERENCES operate_company (id), \n\tFOREIGN KEY(airport_id) REFERENCES airport (id)\n)\n/*\nColumns in flight and 3 examples in each column for high cardinality columns :\nid : 1, 13, 11\nVehicle_Flight_number : M2-F1 #14, M2-F1 #61, M2-F1 #0\nDate : July 16, 1965, May 19, 1964, March 28, 1966\n*/\n/*\nColumns in flight and all categories for low cardinality columns :\nPilot : Thompson, Peterson\nVelocity : 240.0, 135.0\nAltitude : 3650.0, 0.0\nairport_id : 1, 2, 5, 8, 4, 6, 3, 9\ncompany_id : 1, 13, 11, 2, 5, 7, 4, 6, 3, 9\n*/\n \nCREATE TABLE "Type_Of_Restaurant" (\n\t"ResID" INTEGER, \n\t"ResTypeID" INTEGER, \n\tFOREIGN KEY("ResID") REFERENCES "Restaurant" ("ResID"), \n\tFOREIGN KEY("ResTypeID") REFERENCES "Restaurant_Type" ("ResTypeID")\n)\n/*\nColumns in Type_Of_Restaurant and all categories for low cardinality columns :\nResID : 1, 2\nResTypeID : 1, 2\n*/\n \nCREATE TABLE journalist (\n\t"journalist_ID" INTEGER, \n\t"Name" TEXT, \n\t"Nationality" TEXT, \n\t"Age" TEXT, \n\t"Years_working" INTEGER, \n\tPRIMARY KEY ("journalist_ID")\n)\n/*\nColumns in journalist and 3 examples in each column for high cardinality columns :\njournalist_ID : 1, 11, 2\nName : Jack Meaney, Herbert Swindells, Jackie Waring\n*/\n/*\nColumns in journalist and all categories for low cardinality columns :\nNationality : Northern Ireland, Wales, England\nAge : 37, 28, 25, 33, 34, 43, 27, 29\nYears_working : 1, 5, 7, 8, 21, 6, 3, 12, 10, 9\n*/\n \nCREATE TABLE list (\n\t"LastName" TEXT, \n\t"FirstName" TEXT, \n\t"Grade" INTEGER, \n\t"Classroom" INTEGER, \n\tPRIMARY KEY ("LastName", "FirstName")\n)\n/*\nColumns in list and 3 examples in each column for high cardinality columns :\nLastName : HOUTCHENS, GELL, FLACHS\nFirstName :  RAY,  EMILE,  PATRINA\nClassroom : 109, 110, 106\n*/\n/*\nColumns in list and all categories for low cardinality columns :\nGrade : 1, 2, 5, 4, 6, 3, 0\n*/\n'}
{'role': 'user', 'content': 'How many heads of the departments are older than 56 ?'}
{'role': 'assistant', 'content': "\nTo construct the query, I'll be working with the following tables: head.\nFrom these tables, I'll be using the following columns: age.\nThe SQL query I'll be generating is:\nSELECT count(*) FROM head WHERE age  >  56"}

Number of examples in validation set: 500
First example in validation set:

In [8]:
# Validate token counts
#!pip install tiktoken -U
import json
import tiktoken
import numpy as np
from collections import defaultdict

#encoding = tiktoken.get_encoding("o200k_base") 
encoding = tiktoken.get_encoding("cl100k_base") 
def num_tokens_from_messages(messages, tokens_per_message=3, tokens_per_name=1):
    num_tokens = 0
    for message in messages:
        num_tokens += tokens_per_message
        for key, value in message.items():
            num_tokens += len(encoding.encode(value))
            if key == "name":
                num_tokens += tokens_per_name
    num_tokens += 3
    return num_tokens

def num_assistant_tokens_from_messages(messages):
    num_tokens = 0
    for message in messages:
        if message["role"] == "assistant":
            num_tokens += len(encoding.encode(message["content"]))
    return num_tokens

def print_distribution(values, name):
    print(f"\n#### Distribution of {name}:")
    print(f"min / max: {min(values)}, {max(values)}")
    print(f"mean / median: {np.mean(values)}, {np.median(values)}")
    print(f"p5 / p95: {np.quantile(values, 0.1)}, {np.quantile(values, 0.9)}")

files = ['train-dataset.jsonl', 'validation-dataset.jsonl']

for file in files:
    print(f"Processing file: {file}")
    with open(file, 'r', encoding='utf-8') as f:
        dataset = [json.loads(line) for line in f]

    total_tokens = []
    assistant_tokens = []

    for ex in dataset:
        messages = ex.get("messages", {})
        total_tokens.append(num_tokens_from_messages(messages))
        assistant_tokens.append(num_assistant_tokens_from_messages(messages))

    print_distribution(total_tokens, "total tokens")
    print_distribution(assistant_tokens, "assistant tokens")
    print('*' * 50)

Processing file: train-dataset.jsonl

#### Distribution of total tokens:
min / max: 3331, 4018
mean / median: 3891.806666666667, 3913.0
p5 / p95: 3761.9, 3996.0

#### Distribution of assistant tokens:
min / max: 44, 206
mean / median: 77.59133333333334, 65.0
p5 / p95: 50.0, 119.0
**************************************************
Processing file: validation-dataset.jsonl

#### Distribution of total tokens:
min / max: 3219, 4017
mean / median: 3888.842, 3902.0
p5 / p95: 3771.9, 3996.0

#### Distribution of assistant tokens:
min / max: 44, 203
mean / median: 80.744, 66.0
p5 / p95: 47.900000000000006, 126.10000000000002
**************************************************

In [9]:
# Upload fine-tuning files

import os
from openai import AzureOpenAI

client = AzureOpenAI(
  azure_endpoint = os.getenv("AZURE_OPENAI_ENDPOINT"),
  api_key = os.getenv("AZURE_OPENAI_API_KEY"),
  api_version = "2024-08-01-preview"  # This API version or later is required to access seed/events/checkpoint features
)

training_file_name = 'train-dataset.jsonl'
validation_file_name = 'validation-dataset.jsonl'

# Upload the training and validation dataset files to Azure OpenAI with the SDK.

training_response = client.files.create(
    file = open(training_file_name, "rb"), purpose="fine-tune"
)
training_file_id = training_response.id

validation_response = client.files.create(
    file = open(validation_file_name, "rb"), purpose="fine-tune"
)
validation_file_id = validation_response.id

print("Training file ID:", training_file_id)
print("Validation file ID:", validation_file_id)

Training file ID: file-18e6317e597e43969229581e0348990b
Validation file ID: file-628fff7b9d2c46a193a011d7f49e094e

In [10]:
# Submit fine-tuning training job

response = client.fine_tuning.jobs.create(
    training_file = training_file_id,
    validation_file = validation_file_id,
    model = "gpt-4o-mini-2024-07-18", # Enter base model name. Note that in Azure OpenAI the model name contains dashes and cannot contain dot/period characters.
    seed = 100 # seed parameter controls reproducibility of the fine-tuning job. If no seed is specified one will be generated automatically.
)

job_id = response.id

# You can use the job ID to monitor the status of the fine-tuning job.
# The fine-tuning job will take some time to start and complete.

print("Job ID:", response.id)
print("Status:", response.status)
print(response.model_dump_json(indent=2))

Job ID: ftjob-a58f137fe81f4c09ba7a65b769ff2350
Status: pending
{
  "id": "ftjob-a58f137fe81f4c09ba7a65b769ff2350",
  "created_at": 1727329216,
  "error": null,
  "fine_tuned_model": null,
  "finished_at": null,
  "hyperparameters": {
    "n_epochs": -1,
    "batch_size": -1,
    "learning_rate_multiplier": 1
  },
  "model": "gpt-4o-mini-2024-07-18",
  "object": "fine_tuning.job",
  "organization_id": null,
  "result_files": null,
  "seed": 100,
  "status": "pending",
  "trained_tokens": null,
  "training_file": "file-18e6317e597e43969229581e0348990b",
  "validation_file": "file-628fff7b9d2c46a193a011d7f49e094e",
  "estimated_finish": 1730094916,
  "integrations": null
}

In [12]:
# Track training status

from IPython.display import clear_output
import time

start_time = time.time()

# Get the status of our fine-tuning job.
response = client.fine_tuning.jobs.retrieve(job_id)

status = response.status

# If the job isn't done yet, poll it every 10 seconds.
while status not in ["succeeded", "failed"]:
    time.sleep(10)

    response = client.fine_tuning.jobs.retrieve(job_id)
    print(response.model_dump_json(indent=2))
    print("Elapsed time: {} minutes {} seconds".format(int((time.time() - start_time) // 60), int((time.time() - start_time) % 60)))
    status = response.status
    print(f'Status: {status}')
    clear_output(wait=True)

print(f'Fine-tuning job {job_id} finished with status: {status}')

# List all fine-tuning jobs for this resource.
print('Checking other fine-tune jobs for this resource.')
response = client.fine_tuning.jobs.list()
print(f'Found {len(response.data)} fine-tune jobs.')

Fine-tuning job ftjob-a58f137fe81f4c09ba7a65b769ff2350 finished with status: succeeded
Checking other fine-tune jobs for this resource.
Found 3 fine-tune jobs.

In [13]:
response = client.fine_tuning.jobs.list_events(fine_tuning_job_id=job_id, limit=10)
print(response.model_dump_json(indent=2))

{
  "data": [
    {
      "id": "ftevent-34da367f1ef04d6da93cdf1c417e8d35",
      "created_at": 1727335406,
      "level": "info",
      "message": "Training tokens billed: 52261000",
      "object": "fine_tuning.job.event",
      "type": "message"
    },
    {
      "id": "ftevent-f4f9ea07f811468b8e9aa3939b4a6c3f",
      "created_at": 1727335406,
      "level": "info",
      "message": "Completed results file: file-69da9b16353649bfa7c0e9c87cff60ca",
      "object": "fine_tuning.job.event",
      "type": "message"
    },
    {
      "id": "ftevent-42aeb4994b484b62991feb6bbdff4566",
      "created_at": 1727335405,
      "level": "info",
      "message": "Model Evaluation Passed.",
      "object": "fine_tuning.job.event",
      "type": "message"
    },
    {
      "id": "ftevent-c8f048c120d94b1e91b45e936e055063",
      "created_at": 1727335397,
      "level": "info",
      "message": "Postprocessing started (retry 2).",
      "object": "fine_tuning.job.event",
      "type": "message"
    },
    {
      "id": "ftevent-1a178a597943479c83b69090593b5b0c",
      "created_at": 1727335290,
      "level": "info",
      "message": "Job succeeded.",
      "object": "fine_tuning.job.event",
      "type": "message"
    },
    {
      "id": "ftevent-808dcddf6ebf282808dcddf6ebf28280",
      "created_at": 1727333177,
      "level": "info",
      "message": "Step 1500: training loss=0.00575849087908864",
      "object": "fine_tuning.job.event",
      "type": "metrics",
      "data": {
        "step": 1500,
        "train_loss": 0.00575849087908864,
        "train_mean_token_accuracy": 1,
        "valid_loss": 0.09541347414948219,
        "valid_mean_token_accuracy": 0.9709302325581395,
        "full_valid_loss": 0.07230913800506274,
        "full_valid_mean_token_accuracy": 0.6882239139720108
      }
    },
    {
      "id": "ftevent-808dcddf6e5fca1808dcddf6e5fca180",
      "created_at": 1727333167,
      "level": "info",
      "message": "Step 1490: training loss=0.006834801286458969",
      "object": "fine_tuning.job.event",
      "type": "metrics",
      "data": {
        "step": 1490,
        "train_loss": 0.006834801286458969,
        "train_mean_token_accuracy": 0.9968652129173279,
        "valid_loss": 0.12787083656557144,
        "valid_mean_token_accuracy": 0.9838709677419355
      }
    },
    {
      "id": "ftevent-808dcddf6e006c0808dcddf6e006c080",
      "created_at": 1727333157,
      "level": "info",
      "message": "Step 1480: training loss=0.0011016668286174536",
      "object": "fine_tuning.job.event",
      "type": "metrics",
      "data": {
        "step": 1480,
        "train_loss": 0.0011016668286174536,
        "train_mean_token_accuracy": 1,
        "valid_loss": 0.02664588722022804,
        "valid_mean_token_accuracy": 0.9837837837837838
      }
    },
    {
      "id": "ftevent-808dcddf6da10df808dcddf6da10df80",
      "created_at": 1727333147,
      "level": "info",
      "message": "Step 1470: training loss=0.0014143041335046291",
      "object": "fine_tuning.job.event",
      "type": "metrics",
      "data": {
        "step": 1470,
        "train_loss": 0.0014143041335046291,
        "train_mean_token_accuracy": 1,
        "valid_loss": 0.21175932439958087,
        "valid_mean_token_accuracy": 0.9658385093167702
      }
    },
    {
      "id": "ftevent-808dcddf6d41afe808dcddf6d41afe80",
      "created_at": 1727333137,
      "level": "info",
      "message": "Step 1460: training loss=0.006670254748314619",
      "object": "fine_tuning.job.event",
      "type": "metrics",
      "data": {
        "step": 1460,
        "train_loss": 0.006670254748314619,
        "train_mean_token_accuracy": 0.9957982897758484,
        "valid_loss": 0.10050173930205633,
        "valid_mean_token_accuracy": 0.982532751091703
      }
    }
  ],
  "has_more": true,
  "object": "list"
}

In [14]:
response = client.fine_tuning.jobs.checkpoints.list(job_id)
print(response.model_dump_json(indent=2))

{
  "data": [
    {
      "id": "ftchkpt-7290aa69b7c74dd699a1f6adabac88cd",
      "created_at": 1727334843,
      "fine_tuned_model_checkpoint": "gpt-4o-mini-2024-07-18.ft-a58f137fe81f4c09ba7a65b769ff2350",
      "fine_tuning_job_id": "ftjob-a58f137fe81f4c09ba7a65b769ff2350",
      "metrics": {
        "full_valid_loss": 0.07230913800506274,
        "full_valid_mean_token_accuracy": 0.6882239139720108,
        "step": 1500.0,
        "train_loss": 0.00575849087908864,
        "train_mean_token_accuracy": 1.0,
        "valid_loss": 0.09541347414948219,
        "valid_mean_token_accuracy": 0.9709302325581395
      },
      "object": "fine_tuning.job.checkpoint",
      "step_number": 1500
    },
    {
      "id": "ftchkpt-9d26f3db1c034e4fb352c0f349345da9",
      "created_at": 1727333709,
      "fine_tuned_model_checkpoint": "gpt-4o-mini-2024-07-18.ft-a58f137fe81f4c09ba7a65b769ff2350:ckpt-step-1000",
      "fine_tuning_job_id": "ftjob-a58f137fe81f4c09ba7a65b769ff2350",
      "metrics": {
        "full_valid_loss": 0.05957072300095195,
        "full_valid_mean_token_accuracy": 0.6881234139845732,
        "step": 1000.0,
        "train_loss": 0.0036169961094856262,
        "train_mean_token_accuracy": 1.0,
        "valid_loss": 0.08752195225205532,
        "valid_mean_token_accuracy": 0.9709302325581395
      },
      "object": "fine_tuning.job.checkpoint",
      "step_number": 1000
    },
    {
      "id": "ftchkpt-a4d50b9009884edc98f1f176746bf820",
      "created_at": 1727332660,
      "fine_tuned_model_checkpoint": "gpt-4o-mini-2024-07-18.ft-a58f137fe81f4c09ba7a65b769ff2350:ckpt-step-500",
      "fine_tuning_job_id": "ftjob-a58f137fe81f4c09ba7a65b769ff2350",
      "metrics": {
        "full_valid_loss": 0.05058929868141121,
        "full_valid_mean_token_accuracy": 0.6877214140348232,
        "step": 500.0,
        "train_loss": 0.05391683429479599,
        "train_mean_token_accuracy": 0.9808428883552551,
        "valid_loss": 0.06049292586570562,
        "valid_mean_token_accuracy": 0.9709302325581395
      },
      "object": "fine_tuning.job.checkpoint",
      "step_number": 500
    }
  ],
  "has_more": false,
  "object": "list"
}

In [ ]:
# Deploy fine-tuned model

import json
import requests

token = os.getenv("TEMP_AUTH_TOKEN")
subscription = "<YOUR_SUBSCRIPTION_ID>"
resource_group = "<YOUR_RESOURCE_GROUP_NAME>"
resource_name = "<YOUR_AZURE_OPENAI_RESOURCE_NAME>"
model_deployment_name = "gpt-4o-mini-2024-07-18-ft" # Custom deployment name you chose for your fine-tuning model

deploy_params = {'api-version': "2023-05-01"}
deploy_headers = {'Authorization': 'Bearer {}'.format(token), 'Content-Type': 'application/json'}

deploy_data = {
    "sku": {"name": "standard", "capacity": 1},
    "properties": {
        "model": {
            "format": "OpenAI",
            "name": "<YOUR_FINE_TUNED_MODEL>", #retrieve this value from the previous call, it will look like gpt-4o-mini-2024-07-18.ft-0e208cf33a6a466994aff31a08aba678
            "version": "1"
        }
    }
}
deploy_data = json.dumps(deploy_data)

request_url = f'https://management.azure.com/subscriptions/{subscription}/resourceGroups/{resource_group}/providers/Microsoft.CognitiveServices/accounts/{resource_name}/deployments/{model_deployment_name}'

print('Creating a new deployment...')

r = requests.put(request_url, params=deploy_params, headers=deploy_headers, data=deploy_data)

print(r)
print(r.reason)
print(r.json())

In [3]:
# Use the deployed customized model

import os
from openai import AzureOpenAI

client = AzureOpenAI(
  azure_endpoint = os.getenv("AZURE_OPENAI_ENDPOINT"),
  api_key = os.getenv("AZURE_OPENAI_API_KEY"),
  api_version = "2024-06-01"
)

response = client.chat.completions.create(
    model = "nl2sql-ft-gpt-4o-mini-2024-07-18-", # model = "Custom deployment name you chose for your fine-tuning model"
    messages = [
        {"role": "system", "content": "You are an assistant that is an expert in generating sqlite SQL queries.\nHaving the access to database content, generate a correct sqlite SQL query for the given question."},
        {"role": "user", "content": "How many products are never booked with amount higher than 200?"}
    ]
)

print(response.choices[0].message.content)

To generate the query, I'll be working with the following tables: PRODUCT, Orders.
From these tables, I'll be using the following columns: PRODUCT.id, Orders.product_id, Orders.amount.
The SQL query I'll be generating is:
```sql
SELECT count(*) FROM PRODUCT WHERE id NOT IN (SELECT product_id FROM Orders WHERE amount > 200)
```